# -------------------------
# Blockchain Config
# -------------------------
# Starting block for indexing
START_BLOCK=0

# Chain ID of the network
CHAIN_ID=31337

# RPC endpoint for the network
RPC_URL=http://127.0.0.1:8545

# -------------------------
# API Keys
# -------------------------
# Key for yuzuUpdate api
API_KEY=your-api-key-here
