BETTER_AUTH_SECRET=
BETTER_AUTH_URL= #Base URL of your app
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=

NEXT_PUBLIC_PROJECT_ID=
NEXT_PUBLIC_INVESTORS_DASHBOARD_LINK=
NEXT_PUBLIC_WEBSITE_URL=



RESEND_API_KEY=



DATABASE_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=


NEXT_PUBLIC_OCID_CLIENT_ID=
OCA_API_KEY=
OCA_DID_STRING=
OCA_ENDPOINT=
